*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;}

    header{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

ul{
    display: flex;
    list-style-type: none;
    align-items: center;

}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
    font-weight: 900;
}

li a::after{
    content: " ";
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .5s;

}

li a :hover::after{
    width: 100%;
}

main{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.hero-image{
    max-width: 570px;
    height: auto;

}

.containt-left{
    width: 30%;
}

main h1{
font-size: 40px;
color: #133b4f;
text-transform: uppercase;
}

main h2{
    font-size: 25PX;
    color: #fca70c;
}

main p{
    font-size: 14px;
    font-weight: 400px;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta{
    padding: 15px 30px;
    background: #c4c4f7;
    outline:none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

.sign-up{
    padding: 15px 30px;
    background: #c4c4f7;
    outline:none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}